Lab 2/library.dtd

<!DOCTYPE library [

<!ELEMENT library (book+)>
<!ELEMENT book (title, author, genre, year)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT year (#PCDATA)>

<!ATTLIST book ISBN CDATA #REQUIRED>
<!ATTLIST book available CDATA #REQUIRED>
<!ATTLIST book publisher CDATA #IMPLIED>
<!ATTLIST book language CDATA #IMPLIED>

]>